.vercel
node_modules
/build
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

apps/web/build
apps/web/.svelte-kit
packages/drizzle/migrations/